<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="API_CONFIG_SINGLEUSER" value="" />
    <add key="API_LOGIN_DOMAIN" value="" />
    <add key="API_LOGIN_NAME" value="" />
    <add key="API_LOGIN_PASSWORD" value="" />
    <add key="API_LOGIN_COMPANY" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_UserSessionService" />
        <binding name="NetTcpBinding_DimensionService" />
        <binding name="NetTcpBinding_DimensionValueService" />
        <binding name="NetTcpBinding_ExchangeRateForCurrenciesService" />
        <binding name="NetTcpBinding_LogisticsAddressCountryRegionService" />
        <binding name="NetTcpBinding_ProjActivitiesService" />
        <binding name="NetTcpBinding_ProjLinePropertyService" />
        <binding name="NetTcpBinding_TrvAdminCustomFieldsService" />
        <binding name="NetTcpBinding_TrvExpenseCategoryService" />
        <binding name="NetTcpBinding_TrvExpenseConfigurationService" />
        <binding name="NetTcpBinding_TrvExpenseLineCustomService" />
        <binding name="NetTcpBinding_TrvExpenseReferenceDataService" />
        <binding name="NetTcpBinding_TrvExpenseReportCustomService" />
        <binding name="NetTcpBinding_TrvExpGuestService" />
        <binding name="NetTcpBinding_TrvReceiptService" />
        <binding name="NetTcpBinding_TrvUnreconciledExpenseService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/UserSessionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_UserSessionService" contract="UserSessionService.UserSessionService" name="NetTcpBinding_UserSessionService">
        <identity>
          <userPrincipalName value="admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DimensionService" contract="ExpenseService.DimensionService" name="NetTcpBinding_DimensionService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DimensionValueService" contract="ExpenseService.DimensionValueService" name="NetTcpBinding_DimensionValueService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ExchangeRateForCurrenciesService" contract="ExpenseService.ExchangeRateForCurrenciesService" name="NetTcpBinding_ExchangeRateForCurrenciesService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_LogisticsAddressCountryRegionService" contract="ExpenseService.LogisticsAddressCountryRegionService" name="NetTcpBinding_LogisticsAddressCountryRegionService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ProjActivitiesService" contract="ExpenseService.ProjActivitiesService" name="NetTcpBinding_ProjActivitiesService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ProjLinePropertyService" contract="ExpenseService.ProjLinePropertyService" name="NetTcpBinding_ProjLinePropertyService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvAdminCustomFieldsService" contract="ExpenseService.TrvAdminCustomFieldsService" name="NetTcpBinding_TrvAdminCustomFieldsService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpenseCategoryService" contract="ExpenseService.TrvExpenseCategoryService" name="NetTcpBinding_TrvExpenseCategoryService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpenseConfigurationService" contract="ExpenseService.TrvExpenseConfigurationService" name="NetTcpBinding_TrvExpenseConfigurationService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpenseLineCustomService" contract="ExpenseService.TrvExpenseLineCustomService" name="NetTcpBinding_TrvExpenseLineCustomService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpenseReferenceDataService" contract="ExpenseService.TrvExpenseReferenceDataService" name="NetTcpBinding_TrvExpenseReferenceDataService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpenseReportCustomService" contract="ExpenseService.TrvExpenseReportCustomService" name="NetTcpBinding_TrvExpenseReportCustomService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvExpGuestService" contract="ExpenseService.TrvExpGuestService" name="NetTcpBinding_TrvExpGuestService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvReceiptService" contract="ExpenseService.TrvReceiptService" name="NetTcpBinding_TrvReceiptService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/ExpenseServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TrvUnreconciledExpenseService" contract="ExpenseService.TrvUnreconciledExpenseService" name="NetTcpBinding_TrvUnreconciledExpenseService">
        <identity>
          <userPrincipalName value="Admin@contoso.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
